* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  padding-left: 10%;
  padding-right: 10%;
}

.wraper {
  border: 1px solid;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wraper button {
  width: 200px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}
.wraper h1 {
  text-transform: uppercase;
  color: white;
  border: 3px solid gray;
  padding: 20px 30px;
  border-radius: 10px;
}
.wraper h1 span {
  position: relative;
  left: 15px;
  top: -5px;
  font-size: 10px;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  background: rgb(71, 71, 252);
}
