* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  padding-left: 10%;
  padding-right: 10%;
}
